.page-sidebar .page-sidebar-menu>li>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i{
    font-size: 20px;
}
.page-header .page-header-inner .page-logo {
    background-color: #00a19c;
}
.page-header.navbar .menu-toggler>span,
.page-header.navbar .menu-toggler>span:after,
.page-header.navbar .menu-toggler>span:before,
.page-header.navbar .menu-toggler>span:hover,
.page-header.navbar .menu-toggler>span:hover:after,
.page-header.navbar .menu-toggler>span:hover:before {
    background: black;
}
.page-header .page-header-inner .site-title-span {
    color:white;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 600;
}
.page-content{
    background: #dddddd;
}