.incidents_top_bar {
    border-bottom: 1px solid #00a19c;
    border-right: 1px solid #00a19c;
    padding: 5px;
}

.incidents_top_span {
    font-size: 22px;
    color: #00a19c;
}

.incidents_top_select {
    border: none;
    background-color: #dddddd;
}

.incidents_top {
    margin-bottom: 15px;
}

.incidents_chart_caption {
    color: #9eacb4;
    font-style: italic;
    font-size: 18px;
}

.incidents_chart_sub {
    color: #dd660b;
    font-style: italic;
    font-size: 18px;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
    float: initial;
}

.portlet-body table.table-bordered.dataTable th {
    color: #9eacb4;
    font-size: 13px;
    padding: 8px 10px;
    font-weight: 300;
}

.portlet-body table.table-bordered.dataTable th,
.portlet-body table.table-bordered.dataTable td {
    border-left: none;
    border-right: none;
}

.portlet-body table {
    border: none;
    border-bottom: 1px;
}

.incident_portlet_1 .first_span {
    color: #9eacb4;
    font-size: 20px;
    font-weight: 500;
}

.incident_portlet_1 .second_span {
    color: #00a19c;
    margin-left: 5px;
    font-size: 24px;
    font-weight: 500;
}

.incident_portlet_1 .portlet.light.portlet-fit>.portlet-body {
    padding: 10px 20px 0;
}

.incident_portlet_1 .portlet-body .incident_portlet_1_span{
    padding-bottom: 10px;
}

.incident_portlet_1 .portlet-body div.incident_portlet_1_span {
    border-right: 2px solid #9eacb4;
}

.incident_portlet_1 .portlet-body div.incident_portlet_1_span:last-child {
    border-right: none;
}

.incident_portlet_2 .incident_portlet_2_1,
.incident_portlet_3 .incident_portlet_3_1 {
    color: #9eacb4;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.incident_portlet_2 .incident_portlet_2_span_1 {
    font-size: 14px;
}

.incident_portlet_2 .incident_portlet_2_span_2_val {
    color: #9eacb4;
    font-size: 12px;
}

.incident_portlet_3 {
    padding-left: 0;
}

.incident_portlet_3 .portlet {
    height: 250px;
}

div.incident_portlet_3:last-child {
    padding-right: 0;
}

.incident_portlet_3_2 {
    color: #9eacb4;
    font-size: 14px;
}