.incident_top_bar {
    border-bottom: 1px solid #00a19c;
    border-right: 1px solid #00a19c;
    padding: 5px;
}

.incident_top_span {
    font-size: 22px;
    color: #00a19c;
}

.incident_top_select {
    border: none;
    background-color: #dddddd;
}

.incident_top {
    margin-bottom: 15px;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
    float: initial;
}

.portlet-body table.table-bordered.dataTable th {
    color: #9eacb4;
    font-size: 13px;
    padding: 8px 10px;
    font-weight: 300;
}

.portlet-body table.table-bordered.dataTable th,
.portlet-body table.table-bordered.dataTable td {
    border-left: none;
    border-right: none;
}

.portlet-body table {
    border: none;
    border-bottom: 1px;
}

.incident_portlet_1 .first_span {
    color: #9eacb4;
    font-size: 20px;
    font-weight: 500;
}

.incident_portlet_1 .second_span {
    color: #00a19c;
    margin-left: 5px;
    font-size: 24px;
    font-weight: 500;
}

.incident_portlet_1 .portlet.light.portlet-fit>.portlet-body {
    padding: 10px 20px 0;
}

.incident_portlet_1 .portlet-body .incident_portlet_1_span{
    padding-bottom: 10px;
}

.incident_portlet_1 .portlet-body div.incident_portlet_1_span {
    border-right: 2px solid #9eacb4;
}

.incident_portlet_1 .portlet-body div.incident_portlet_1_span:last-child {
    border-right: none;
}

.incident_portlet_2 .incident_portlet_2_1,
.incident_portlet_3 .incident_portlet_3_1,
.incident_portlet_4 .incident_portlet_4_1 {
    color: #9eacb4;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.incident_portlet_2 .incident_portlet_2_span_1 {
    font-size: 14px;
}

.incident_portlet_2 .incident_portlet_2_span_2_val {
    color: #9eacb4;
    font-size: 12px;
}

.incident_portlet_3,
.incident_portlet_4 {
    padding-left: 0;
}

.incident_portlet_3 .portlet {
    height: 250px;
}

.incident_portlet_4 .portlet {
    height: 200px;
}

div.incident_portlet_3:last-child,
div.incident_portlet_4:last-child {
    padding-right: 0;
}

.incident_portlet_3_2 {
    color: #9eacb4;
    font-size: 14px;
}

.incident_portlet_4 .incident_portlet_4_fav {
    font-size: 16px;
    color: #00a19c;
    margin-left: 10px;
}

.incident_portlet_4 .incident_portlet_4_border {
    border-bottom: #9eacb4 1px solid;
}

.incident_portlet_4 .incident_portlet_4_2_1,
.incident_portlet_4 .incident_portlet_4_4_2 {
    color: #9eacb4;
    font-size: 18px;
}

.incident_portlet_4 .incident_portlet_4_2_2,
.incident_portlet_4 .incident_portlet_4_3_2,
.incident_portlet_4 .incident_portlet_4_4_3 {
    font-size: 18px;
}

.incident_portlet_4 .incident_portlet_4_2,
.incident_portlet_4 .incident_portlet_4_4 {
    margin-bottom: 10px;
}

.incident_portlet_4 .incident_portlet_4_title {
    margin-bottom: 20px;
}

.incident_portlet_4 .incident_portlet_4_3_1 {
    font-size:32px;
}

.incident_portlet_4 .incident_portlet_4_padding_0 {
    padding: 0;
}

