.observation_top_bar {
    border-bottom: 1px solid #00a19c;
    border-right: 1px solid #00a19c;
    padding: 5px;
}

.observation_top_span {
    font-size: 22px;
    color: #00a19c;
}

.observation_top_select {
    border: none;
    background-color: #dddddd;
}

.observation_top {
    margin-bottom: 15px;
}

.observation_chart_caption {
    color: #9eacb4;
    font-style: italic;
    font-size: 18px;
}

.observation_portlet_head {
    border-bottom: 1px solid #00a19c;
    float: right;
}

.observation_portlet_select {
    border: none;
}